<!DOCTYPE html>
<html>
  <head>
    <title>Property Wrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="Property" ng-controller="CanvasCtrl">

      <%= yield %>

  </body>

</html>

