<!DOCTYPE html>
<html>
  <head>
    <title>Property Wrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <%= stylesheet_link_tag 'nonjs', media: 'all' %>

    <%= csrf_meta_tags %>
  </head>

  <body>

      <%= yield %>

  </body>
  <%= javascript_include_tag "nonjs" %>

</html>

